html {
	min-height: 100%;
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	/* margin-block-end: 30px; */
}

section {
	width: 100%;
	height: 100vh;
	margin: 0;
	max-width: none;
	position: relative;
	/* overflow: auto; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cover {
	background: linear-gradient(1deg, #d2b468, #ffffff);
	background-size: 400% 400%;

	-webkit-animation: beach 41s ease infinite;
	-moz-animation: beach 41s ease infinite;
	animation: beach 41s ease infinite;

	@-webkit-keyframes beach {
		0% {
			background-position: 49% 0%;
		}
		50% {
			background-position: 52% 100%;
		}
		100% {
			background-position: 49% 0%;
		}
	}
	@-moz-keyframes beach {
		0% {
			background-position: 49% 0%;
		}
		50% {
			background-position: 52% 100%;
		}
		100% {
			background-position: 49% 0%;
		}
	}
	@keyframes beach {
		0% {
			background-position: 49% 0%;
		}
		50% {
			background-position: 52% 100%;
		}
		100% {
			background-position: 49% 0%;
		}
	}
}

.cover p {
	font-size: 2vw;
	font-weight: 200;
}

.grow-title {
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	height: 52px;
	width: 20%;
	margin: 5px 1% 5px 1%;
	float: left;
	position: relative;
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
	text-align: center;
	overflow: hidden;
}
.grow-title:hover {
	height: 100px;
}

.grow-authur {
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	height: 52px;
	width: 10%;
	margin: 5px 1% 5px 1%;
	float: left;
	position: relative;
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
	text-align: center;
	overflow: hidden;
}
.grow-authur:hover {
	height: 100px;
}

.chapter-1 {
	background: radial-gradient(
		41.46% 35.61% at 50% 53.56%,
		rgba(6, 255, 165, 0.3) 49.56%,
		rgba(210, 180, 104, 0.3) 100%
	);
}

.chapter-1 .container {
	position: relative;
	display: inline-block;
}

.text-1 {
	position: absolute;
	left: 10%;
	top: 35%;
	font-family: 'Libre Baskerville', serif;
	font-weight: 250;
	font-size: 1.3vw;
}

.grow-1 {
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	height: 110px;
	width: 100%;
	margin: 5px 1% 5px 1%;
	float: left;
	position: relative;
	transition: height 0.8s;
	-webkit-transition: height 0.8s;
	overflow: hidden;
}
.grow-1:hover {
	height: 230px;
}

.img-box-1 {
	position: absolute;
	width: 80%;
	top: 20%;
	right: 20%;
	z-index: -1;
	/* display: flex; */
}

.sail-1 {
	animation: MoveLeftRight 30s linear infinite;
	position: absolute;
	left: 0;
}
.sail-2 {
	animation: MoveLeftRight 40s ease-in-out infinite;
	position: absolute;
}
@keyframes MoveLeftRight {
	0%,
	100% {
		left: 0;
	}
	50% {
		left: 80%;
	}
}

.responsive-1 {
	width: 100%;
	max-width: 300px;
	height: auto;
}

.chapter-2 {
	background: radial-gradient(17.01% 27.7% at 12% 47.44%, #dcff06 5.71%, #000000 50%);
}

.chapter-2 .container {
	position: relative;
	display: inline-block;
}

.text-2 {
	position: absolute;
	font-family: 'Libre Baskerville', serif;
	font-weight: 600;
	color: white;
	top: 15%;
	right: 5%;
	font-size: 32px;
}

.grow-2 {
	padding: 5px 5px 5px 5px;
	border-radius: 10px;
	height: 310px;
	width: 100%;
	margin: 5px 1% 5px 1%;
	float: left;
	position: relative;
	transition: height 1s;
	-webkit-transition: height 1s;
	overflow: hidden;
}
.grow-2:hover {
	height: 550px;
}

.img-box-2 {
	position: absolute;
	left: -5.5%;
	bottom: -5%;
}

.responsive-2 {
	width: 500px;
}

embed {
	position: absolute;
	right: 32%;
	top: -5%;
}
